<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.weathon.customalertslider"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/customslider"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Module to customize the alert slider from the OnePlus 3 on Oxygen OS. May also work for Oneplus 2 or Oneplus X." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />


        <activity
            android:name="com.dev.weathon.customalertslider.tasker.activity.EditActivity"
            android:exported="true"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.AppCompat"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT"/>
            </intent-filter>
        </activity>

        <!--
             This is the "fire" BroadcastReceiver. Note that the host will reject plug-in
             BroadcastReceivers for the following reasons:
                - The BroadcastReceiver isn't exported (e.g. android:exported="false")
                - The BroadcastReceiver isn't enabled (e.g. android:enabled="false")
                - The BroadcastReceiver requires permissions not available to the host
                - There are multiple BroadcastReceivers for com.twofortyfouram.locale.intent.action.QUERY_CONDITION
        -->
        <receiver
            android:name="com.dev.weathon.customalertslider.tasker.receiver.QueryReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">

            <!-- this Intent filter allows the plug-in to discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION"/>
                <action android:name="com.dev.weathon.customalertslider.SLIDER_CHANGED" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity android:name=".AllAppsActivity"/>

        <activity-alias
            android:name=".show_ic"
            android:enabled="true"
            android:icon="@mipmap/customslider"
            android:label="@string/app_name"
            android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".MyPreferenceProvider"
            android:authorities="com.dev.weathon.customalertslider"
            android:exported="true" />

        <receiver android:name=".notUsed.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:enabled="true" android:name=".notUsed.MyService" />

    </application>

</manifest>