<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.weathon.customalertslider"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/customslider"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Module to customize the alert slider from the OnePlus 3 on Oxygen OS. May also work for Oneplus 2 or Oneplus X." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <receiver android:name=".notUsed.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notUsed.MyReceiverVolume">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notUsed.MyService"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity android:name=".AllAppsActivity"/>

        <activity-alias
            android:name=".show_ic"
            android:enabled="true"
            android:icon="@mipmap/customslider"
            android:label="@string/app_name"
            android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".MyPreferenceProvider"
            android:authorities="com.dev.weathon.customalertslider"
            android:exported="true" />

    </application>

</manifest>